body{
	/*background-color: #0489B1;*/
	background-color: #2E2E2E;
	height: 100%;
}

.top-container{
	width: 700px;
	height: 120px;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 120px;
}

#photo
{
	width: 120px;
	height: 120px;
	box-shadow: 1px 1px 5px white; 
	border-radius: 10px;
	/*border-radius: 100%;*/
	margin-right: 200px;
}

#top-txt
{
	padding-top: 6px;
	padding-right: 350px;
	text-align: right;
}

.fnt {
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	color: #ffffff;
	text-shadow: 0px 1px 1px #4d4d4d;
}

.title-mid {
	font-size: 20px;
	width: 100px;
	margin-bottom: 25px;
	margin-top: -40px;
	text-align: center;
}

.mid-container{
	width: 700px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

#void-container{
	float: left;
	width: 100px;
	height: 300px;
}

#skill-container{
	float: left;
	width: 300px;
	height: 350px;
}

.skill-barR {
    width: 300px;
    background: #2E2E2E;
    border: 1px solid #088A85;
    position: relative;
    height: 10px;
}

.skill-barR:after {
    content: "";
    position: absolute;
    background: #088A85;
    left: 0;
    top: 0;
    bottom: 0;
}

.skill-barL {
    width: 300px;
    background: #086A87;
    border: 1px solid #086A87;
    position: relative;
    height: 10px;
}

.skill-barL:after {
    content: "";
    position: absolute;
    background: #2E2E2E;
    left: 0;
    top: 0;
    bottom: 0;
}

.skill-barR[data-length="10"]:after { width: 10% }
.skill-barR[data-length="20"]:after { width: 20% }
.skill-barR[data-length="30"]:after { width: 30% }
.skill-barR[data-length="40"]:after { width: 40% }
.skill-barR[data-length="50"]:after { width: 50% }
.skill-barR[data-length="60"]:after { width: 60% }
.skill-barR[data-length="70"]:after { width: 70% }
.skill-barR[data-length="80"]:after { width: 80% }
.skill-barR[data-length="90"]:after { width: 90% }
.skill-barR[data-length="100"]:after { width: 100% }
.skill-barL[data-length="10"]:after { width: 10% }
.skill-barL[data-length="20"]:after { width: 20% }
.skill-barL[data-length="30"]:after { width: 30% }
.skill-barL[data-length="40"]:after { width: 40% }
.skill-barL[data-length="50"]:after { width: 50% }
.skill-barL[data-length="60"]:after { width: 60% }
.skill-barL[data-length="70"]:after { width: 70% }
.skill-barL[data-length="80"]:after { width: 80% }
.skill-barL[data-length="90"]:after { width: 90% }
.skill-barL[data-length="100"]:after { width: 100% }

#aboutme-container{
	width: 700px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#aboutme-txt{
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	width: 100px;
	margin-bottom: 25px;
}

.projects-container{
	width: 700px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.title-bot {
	font-size: 20px;
	width: 350px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.projects-photo{
	width: 240px;
	height: 180px;
	box-shadow: 1px 1px 5px black; 
	border-radius: 10px;
}

.projects-txtL
{
	padding-top: 6px;
	padding-left: 385px;
	text-align: left;
}

.projects-txtR
{
	padding-top: 6px;
	padding-right: 385px;
	text-align: right;
}

#contact-container{
	width: 700px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}

#contact-subcontainer{
	float: left;
	width: 100px;
	height: 100px;
}

.contact-photo{
	width: 50px;
	height: 50px;
	box-shadow: 1px 1px 5px black; 
	border-radius: 100%;
	margin-top: 30px;
}
